<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>VEHICULOS_GPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5bziuTX-sOCYrRaRArTsjvBW469wcmGE">
    </script>


    <style type="text/css">
        @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
        @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
        *{margin:0; padding:0}
        body{font-family: 'Source Sans Pro', sans-serif}
        .text{background:#12192C; width:90%; border-radius:0 3px 3px 0; border:none; outline:none; color:#999; font-family: 'Source Sans Pro', sans-serif;} 
        .text,.login span.un{display:inline-block; vertical-align:top; height:40px; line-height:40px; background:#12192C;}
        ul li{height:40px; margin:15px 0; list-style:none}
        .navbar{margin-bottom: 0px}
        .navbar-brand {padding-top: 30px}
        #Userlog { pointer-events: none;}
        .pageContent{margin-top: 75px; margin-left: 20px; margin-right: 20px ;}
        .container {margin-left: 0px; padding-left: 0px}
        #shiftData, #routesData, #ratesData{display: none}
        #gmaps {height:300px; width: 600px; margin-bottom: 15px}
        #shiftOpt{margin-bottom: 10px}
        #divTini,#divTfin {display: none;}
        .alert-ruta, .nomEdit, .apEdit, .iniEdit, .finEdit {display: none;}
        table {margin-top: 15px;}

    </style>
</head>
<body> 

    <nav class="navbar navbar-default navbar-fixed-top" id="main-navbar">
        <div class= "navbar container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">GRUPO IT SOLUTIONS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/test_connect/">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="vehiculo">Vehículo</a></li>
                            <li><a href="#" id="conductor">Conductor</a></li>
                            <li><a href="#" id="ruta">Ruta</a></li>
                            <li><a href="#" id="turno">Turno</a></li>
                            <li><a href="#" id="geo">Geocerca</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="config">Aministración</a></li> 
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="Userlog" href="#"></a></li>
                    <li><a href="#" id="logout_btn"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    

    <div class="pageContent container-fluid">

        <div id="main-content">
            <h1 id="mainheader"></h1>
            <div class="container">
            <div class="row">
                <div class="col-sm-3" id="vertical_nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li class='active' id="driver_pill"><a href="#"><b>Conductores</b></a></li>
                        <li id="shift_pill"><a href="#"><b>Turnos</b></a></li>
                        <li id="routes_pill"><a href="#"><b>Rutas</b></a></li>
                        <li id="rates_pill"><a href="#"><b>Tarifas</b></a></li>
                    </ul>
                </div>
                <div id="driverData" class="col-sm-6">
                    <h3>DATOS CONDUCTOR</h3>
                    <form role="form" id="driverForm">
                      <div class="form-group">
                        <label for="nombre">Nombre(s):</label>
                        <input type="text" class="form-control" id="nombre" required>
                      </div>
                      <div class="form-group">
                        <label for="nombre">Apellido(s):</label>
                        <input type="text" class="form-control" id="apellido" required>
                      </div>
                      <div class="form-group">
                        <label for="ruta">Turno:</label>
                        <select id="shiftOpt" class="form-control" required>
                            <option value ="" hidden disabled>----Select Shift----</option>
                        </select>
                        <div class="form-group">
                            <div class="row">
                            <div id="divTini"class="col-sm-6">
                                <label>Inicio</label>
                                <input type="time" class="form-control" id="tini"  disabled>
                            </div>
                            <div id="divTfin"class="col-sm-6">
                                <label>Fin</label>
                                <input type="time" class="form-control" id="tfin" disabled>
                            </div>
                            </div>
                        </div>
                      </div>

                      <button type="submit" id="driverbtn"class="btn btn-default">Registrar</button>
                    </form>
                    <div class="infodiv table-responsive">
                        <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                            </tr>
                        </thead>
                        <tbody id="regDriver"></tbody>
                        </table>
                    </div>
                </div>

                <div id="shiftData" class="col-sm-6">
                    <h3>DATOS TURNO</h3>
                    <form role="form" id="shiftForm">
                      <div class="form-group">
                        <label for="nombre">Nombre del Turno:</label>
                        <input type="text" class="form-control" id="shift" required>
                      </div>
                      <div class="form-group">
                        <label for="ruta">Lapso:</label>
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-6">
                                <label>Inicio</label>
                                <input type="time" class="form-control" id="shini" required>
                            </div>
                            <div class="col-sm-6">
                                <label>Fin</label>
                                <input type="time" class="form-control" id="shfin" required>
                            </div>
                            </div>
                        </div>
                      </div>

                      <button type="submit" id="shiftbtn"class="btn btn-default">Registrar</button>
                    </form>
                    <div  class="infodiv table-responsive">
                        <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>INICIO</th>
                                <th>FIN</th>
                            </tr>
                        </thead>
                        <tbody id="regTurn"></tbody>
                        </table>
                    </div>
                </div>

                <div id="routesData" class="col-sm-6">
                    <h3>DATOS RUTAS</h3>
                    <form role="form" id="routesForm">
                      <div class="form-group">
                        <label for="nombre">Ruta:</label>
                        <input type="text" class="form-control" id="rutanom" required>
                      </div>
                      <div class="form-group">
                        <label for="nombre">Vehiculo(s):</label>
                        <select class="form-control" id="vehiclesOpt" required><option value="" disabled hidden>----Select Vehicle----</option></select>
                      </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Punto Inicial:</label>
                                    <input type="text" class="form-control" id="ptini" required>
                                </div>
                                <div class="col-sm-6">
                                    <label>Punto Final:</label>
                                    <input type="text" class="form-control" id="ptfin" required>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning alert-ruta"></div>
                        <div id="gmaps"></div>
                      <button type="submit" id="routebtn"class="btn btn-default">Registrar</button>
                    </form>

                    <div class="infodiv table-responsive">
                        <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>INICIO</th>
                                <th>FIN</th>
                            </tr>
                        </thead>
                        <tbody id="regRoute"></tbody>
                        </table>
                    </div>
                    
                </div>

                <div id="ratesData" class="col-sm-6">
                    <h3>DATOS TARIFAS</h3>
                    <form role="form" id="ratesForm">
                      <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="tarifanom" required>
                      </div>
                      <div class="form-group">
                        <label for="nombre">Ruta:</label>
                        <select class="form-control" id="vehiclesOpt" required><option value="" disabled hidden>----Select Vehicle----</option></select>
                      </div>
                      <div class="form-group">
                        <label for="nombre">Costo:</label>
                        <input type="text" class="form-control" id="tarifanom" required>
                      </div>
                      <button type="submit" id="ratebtn"class="btn btn-default">Registrar</button>
                    </form>

                    <div class="infodiv table-responsive">
                        <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>RUTA</th>
                                <th>PRECIO</th>
                            </tr>
                        </thead>
                        <tbody id="regRate"></tbody>
                        </table>
                    </div>
                    
                </div>

            </div>
        </div>
    </div> 

    
    <script type="text/javascript">
        var source = "https://diesel.grupoitsur.com";//URL our pegasus site
        var socket = io("https://live.pegasusgateway.com/socket");
        var auth = '';
        var selected_vehicle = null;
        var checked_vehicles = [];
        var map = null;
        var marcadores = [];
        var vehiculos = [];
        var turnos = [];
        var tramastr = '';
        var User = '';
        var Uid = '';
        var imarker=0;
        var markerIni = '';
        var markerFin = '';
        Setup();
        Gmap(16.7516009, -93.1029939);
        
        
        function stopListen(vehicle){
            var envelope = {namespace:"vehicle-events", objects: vehicle};
            socket.emit ('stop', envelope);
            console.log('emitting stop to server', envelope);
        }
        function Gmap(latitude, longitude){
            map = new google.maps.Map(document.getElementById('gmaps'), {
                center: {lat: latitude, lng: longitude},
                zoom: 13,
                zoomControl:true,
                scrollwheel: true
            });
        }
        function Marker(map, ubicacion, count){
            
            var marker;
            //var imageIni = "icons/phantom.png";
            //var imageFin = "icons/alien.png";
            
            if(imarker==0){
                markerIni= new google.maps.Marker({
                
                    map: map,
                    position: ubicacion,
                    title: "INICIO",
                    draggable: true,
                    label: "A"
                });
            }
            if(imarker==1){
                markerFin= new google.maps.Marker({
                
                    map: map,
                    position: ubicacion,
                    title: "FIN",
                    draggable: true,
                    label: "B"
                });
            }
        }
        function Logout(token){
            stopListen("all");
            socket.disconnect();
            console.log(auth);
            $.ajax({
                url: source + "/api/logout",
                headers: { Authenticate: auth},
                type: "GET",
                success: function (result) {
                    
                    console.log(result);
                    
                }
            });
            $.ajax({
                type: "POST",
                url: "app/model/model.php",
                data: {"type": "logout" },
                success: function(result){
                    console.log(result);
                    window.location = "/test_connect/"
                }
            });
        }
        
        function Setup(){
            $.ajax({
                type: "POST",
                url: "app/model/model.php",
                data: {"type":"token"},
                success: function(result){
                    auth = result;
                    console.log(result);
                    //connect(result);
                    $.ajax({
                        url: source+"/api/user",
                        headers: {Authenticate: auth},
                        type: "GET",
                        success: function (result) {
                            User = result.username;
                            Uid = result.id;
                            document.getElementById("Userlog").innerHTML = "[USUARIO: "+result.username+"]";

                            $.ajax({
                                type: "POST",
                                url: "app/model/model.php",
                                dataType: "json",
                                data: {"type": "infoTurn" , "userId": Uid},
                                success: function(result){
                                    turnos = result.infoTurn;
                                    $tbody = $('#regTurn');
                                    for(var i=0; i<result.infoTurn.length; i++){
                                        var x = document.getElementById("shiftOpt");
                                        var option = document.createElement("option");
                                        option.text = result.infoTurn[i].name;
                                        x.add(option);

                                        var $tr = $('<tr/>');

                                        var $id = $('<td/>').html(result.infoTurn[i].id);
                                        $tr.append($id);

                                        var $nom = $('<td/>').html(result.infoTurn[i].name);
                                        $nom.addClass(result.infoTurn[i].id);
                                        var $nomEdit = $('<input/>').attr("type", "text");
                                        $nomEdit.addClass("nomEdit");
                                        $nom.append($nomEdit);
                                        $tr.append($nom);

                                        var $ini = $('<td/>').html(result.infoTurn[i].inicio);
                                        $ini.addClass(result.infoTurn[i].id);
                                        var $iniEdit = $('<input/>').attr("type", "text");
                                        $iniEdit.addClass("iniEdit");
                                        $ini.append($iniEdit);
                                        $tr.append($ini);

                                        var $fin = $('<td/>').html(result.infoTurn[i].fin);
                                        $fin.addClass(result.infoTurn[i].id);
                                        var $finEdit = $('<input/>').attr("type", "text");
                                        $finEdit.addClass("finEdit");
                                        $fin.append($finEdit);
                                        $tr.append($fin);

                                        var $edit_action = $('<a/>').addClass(result.infoTurn[i].id);
                                        var $editbtn = $('<span/>').addClass("glyphicon glyphicon-edit icon-edit");
                                        $edit_action.append($editbtn);
                                        $tr.append($edit_action);

                                        $tbody.append($tr);
                                    }
                                    
                                    console.log(turnos);
                                }
                            });

                            $.ajax({
                                type: "POST",
                                url: "app/model/model.php",
                                dataType: "json",
                                data: {"type": "infoDriver" , "userId": Uid},
                                success: function(result){

                                    $tbody = $('#regDriver');                                    
                                    for(var i=0; i<result.infoDriver.length; i++){

                                        var $tr = $('<tr/>');

                                        var $id = $('<td/>').html(result.infoDriver[i].id);
                                        $tr.append($id);

                                        var $nom = $('<td/>').html(result.infoDriver[i].name);
                                        $nom.addClass(result.infoDriver[i].id);
                                        var $nomEdit = $('<input/>').attr("type", "text");
                                        $nomEdit.addClass("nomEdit");
                                        $nom.append($nomEdit);
                                        $tr.append($nom);

                                        var $ap = $('<td/>').html(result.infoDriver[i].ap_driver);
                                        $ap.addClass(result.infoDriver[i].id);
                                        var $apEdit = $('<input/>').attr("type", "text");
                                        $apEdit.addClass("apEdit");
                                        $ap.append($apEdit);
                                        $tr.append($ap);

                                        var $edit_action = $('<a/>').addClass(result.infoDriver[i].id);
                                        var $editbtn = $('<span/>').addClass("glyphicon glyphicon-edit icon-edit");
                                        $edit_action.append($editbtn);
                                        $tr.append($edit_action);

                                        $tbody.append($tr);
                                    }
                                    
                                    console.log(result);
                                }
                            });
                            
                            $.ajax({
                                type: "POST",
                                url: "app/model/model.php",
                                dataType: "json",
                                data: {"type": "infoRoutes" , "userId": Uid},
                                success: function(result){

                                    $tbody = $('#regRoute');                                    
                                    for(var i=0; i<result.infoRoutes.length; i++){

                                        var $tr = $('<tr/>');

                                        var $id = $('<td/>').html(result.infoRoutes[i].id);
                                        $tr.append($id);

                                        var $nom = $('<td/>').html(result.infoRoutes[i].name);
                                        $nom.addClass(result.infoRoutes[i].id);
                                        var $nomEdit = $('<input/>').attr("type", "text");
                                        $nomEdit.addClass("nomEdit");
                                        $nom.append($nomEdit);
                                        $tr.append($nom);

                                        var $ini = $('<td/>').html(result.infoRoutes[i].nomInicio);
                                        $ini.addClass(result.infoRoutes[i].id);
                                        var $iniEdit = $('<input/>').attr("type", "text");
                                        $iniEdit.addClass("iniEdit");
                                        $ini.append($iniEdit);
                                        $tr.append($ini);

                                        var $fin = $('<td/>').html(result.infoRoutes[i].nomFin);
                                        $fin.addClass(result.infoRoutes[i].id);
                                        var $finEdit = $('<input/>').attr("type", "text");
                                        $finEdit.addClass("finEdit");
                                        $id.append($finEdit);
                                        $tr.append($fin);

                                        var $edit_action = $('<a/>').addClass(result.infoRoutes[i].id);
                                        var $editbtn = $('<span/>').addClass("glyphicon glyphicon-edit icon-edit");
                                        $edit_action.append($editbtn);
                                        $tr.append($edit_action);

                                        $tbody.append($tr);
                                    }
                                    
                                    console.log(result);
                                }
                            });
                        }
                    });
                    $.ajax({
                        url: source+"/api/vehicles",
                        headers: { Authenticate: auth},
                        type: "GET",
                        success: function(result) {
                            for(var i=0; i<result.data.length; i++){
                                var x = document.getElementById("vehiclesOpt");
                                var option = document.createElement("option");
                                option.text = result.data[i].name;
                                x.add(option);
                                vehiculos.push(result.data[i]);
                            }
                            console.log(vehiculos);
                        }
                    });
                }
            });
        }
        function reporteSel(seleccion){
            console.log(seleccion);
            $.ajax({
                type: "POST",
                url: "app/model/model.php",
                data: {"type": "report", "submenu":seleccion},
                success: function(result){
                    console.log(result);
                    window.location = "/test_connect/reports"
                }
            });
        }
        $("#driverForm").submit(function (event){
            event.preventDefault();
            var inicio = document.getElementById("tini").value+":00";
            var fin = document.getElementById("tfin").value+":00";
            var nombre = document.getElementById("nombre").value;
            var apellido = document.getElementById("apellido").value;
            var conductor = JSON.stringify({nombre: nombre, apellido: apellido, shiftId: shiftId, userId: Uid});
            $.ajax({
                type: "POST",
                url: "app/model/model.php",
                data: {"type": "driver", "info":conductor },
                success: function(result){
                    console.log(result);
                    document.getElementById("driverForm").reset();
                }
            });
        });
        $("#routesForm").submit(function(event){
            event.preventDefault();
            if(markerFin && markerIni){
                var posInicio = markerIni.getPosition();
                var posFinal = markerFin.getPosition();
                var ubicacion = {inicio:{lat: posInicio.lat(), lon: posInicio.lng() } , fin:{lat:posFinal.lat() ,lon: posFinal.lng()} }
                var nomInicio = document.getElementById("ptini").value;
                var nomFin = document.getElementById("ptfin").value;
                var ruta = document.getElementById("rutanom").value;
                var rutaVehiculo = document.getElementById("vehiclesOpt").value;
                for(var i=0; i<vehiculos.length; i++){
                    if(vehiculos[i].name == rutaVehiculo ){
                        var vid = vehiculos[i].id;
                        break;
                    }
                }
                var infoRuta = JSON.stringify({"rutaNom": ruta ,"nomInicio": nomInicio ,"nomFin": nomFin, "ubicacion": ubicacion, "vid": vid  , "userId": Uid });
                
                $.ajax({
                    type: "POST",
                    url: "app/model/model.php",
                    data: {"type": "ruta", "infoRuta": infoRuta},
                    success: function(result){
                        console.log(result);
                        document.getElementById("routesForm").reset();
                        markerFin.setMap(null);
                        markerIni.setMap(null);
                        markerIni = '';
                        markerFin = '';
                        imarker=0;
                        $(".alert-ruta").hide();
                    }
                });
                console.log(rutaVehiculo);
                console.log(nomInicio + " " + nomFin + " " + ruta);
            }else{
                console.log("Por favor, introduzca los puntos de inicio y fin en el Mapa.");
                $(".alert-ruta").html("<strong>INCOMPLETO!</strong> Por favor, introduzca los puntos de inicio y fin en el Mapa.");
                $(".alert-ruta").show();
            }
            
        });
       
        $("#shiftForm").submit(function(event){
            event.preventDefault();
            var shiftName = document.getElementById("shift").value;
            var shiftIni = document.getElementById("shini").value;
            var shiftFin = document.getElementById("shfin").value;
            $.ajax({
                type: "POST",
                url: "app/model/model.php",
                data: {"type": "turno", "turno": shiftName, "inicio": shiftIni, "fin": shiftFin, "userid": Uid },
                success: function(result){
                    console.log(result);
                    document.getElementById("shiftForm").reset();
                }
            });
            console.log(shiftName + " " + shiftIni + " " + shiftFin);
        });

        $("#shiftOpt").change(function(event){
            var selShift = event.target.value;
            for(var i=0; i<turnos.length; i++){
                if(selShift == turnos[i].nombre){
                    shiftId = turnos[i].id
                    var inicio = turnos[i].inicio;
                    var fin = turnos[i].fin;
                }
            }
            document.getElementById("tini").value = inicio;
            document.getElementById("tfin").value = fin; 
            $("#divTini").show();
            $("#divTfin").show();
        });

        $("#driver_pill").click(function (){
            $(this).addClass("active");
            $("#shift_pill").removeClass("active");
            $("#routes_pill").removeClass("active");
            $("#rates_pill").removeClass("active")
            $("#driverData").show();
            $("#ratesData").hide();
            $("#shiftData").hide();
            $("#routesData").hide();
            //$("#driverData").show();
        });

        $("#shift_pill").click(function (){
            $(this).addClass("active");
            $("#driver_pill").removeClass("active");
            $("#routes_pill").removeClass("active");
            $("#rates_pill").removeClass("active")
            $("#shiftData").show();
            $("#ratesData").hide();
            $("#driverData").hide();
            $("#routesData").hide();
            console.log("HOLA");
            //$("#shiftData").show();
        });

        $("#routes_pill").click(function (){
            $(this).addClass("active");
            $("#shift_pill").removeClass("active");
            $("#driver_pill").removeClass("active");
            $("#rates_pill").removeClass("active");
            $("#routesData").show();
            $("#ratesData").hide();
            $("#shiftData").hide();
            $("#driverData").hide();
            //$("#routeData").show();
        });

        $("#rates_pill").click(function (){
            $(this).addClass("active");
            $("#shift_pill").removeClass("active");
            $("#driver_pill").removeClass("active");
            $("#routes_pill").removeClass("active");
            $("#ratesData").show();
            $("#routesData").hide();
            $("#shiftData").hide();
            $("#driverData").hide();
            //$("#routeData").show();
        });

        $(".icon-edit").click(function(event){
            event.preventDefault();
            var clase = event.target;
            console.log(clase);
            $(".nomEdit").show();
            $(".apEdit").show();
            console.log("EDITAR!!!");

        });
       //Una vez instanciada la función "Login" la asgina al objeto btn.
        document.getElementById("logout_btn").addEventListener('click', function(){Logout(auth);});
        document.getElementById("vehiculo").addEventListener('click', function(){reporteSel("Vehiculo");});
        document.getElementById("ruta").addEventListener('click', function(){reporteSel("Ruta");});
        document.getElementById("conductor").addEventListener('click', function(){reporteSel("Conductor");});
        document.getElementById("turno").addEventListener('click', function(){reporteSel("Turno");});
        document.getElementById("geo").addEventListener('click', function(){reporteSel("Geocerca");});
        
        
        var listener = google.maps.event.addListener(map, 'rightclick', function(event) {
            if(imarker>500) imarker=0;
            if(imarker <2) Marker(map, event.latLng, imarker);
            imarker++;
            console.log(imarker);
        });
    </script>

</body>
</html>
